[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://git.chromium.org/git/external/googletest.git
[submodule "external/FastPFor"]
	path = external/FastPFor
	url = https://github.com/lemire/FastPFor.git
[submodule "external/easyloggingpp"]
	path = external/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "external/libzmq"]
	path = external/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
